# Application Settings
APP_NAME=SanicApp
API_LOCATIONS=api/auth/general,api/auth/switchuser,api/auth/pam,api/auth/apikey,api/auth/email
#HSTS=86400
#DOCUMENTATION=False
SHOW_SITE_CONTENTS=True

# MySQL Connection Settings
DB_HOST=127.0.0.1
DB_USER=username
DB_PASS=password
DB_NAME=dbname
DB_PORT=3306

# Memcached Connection Settings
MEMCACHED_HOST=127.0.0.1
MEMCACHED_PORT=11211

# The following values are located relative to server.py's filesystem location
# Note the intial page will be 'HTML'/index.html to follow convention
HTML=./html/                                  # Location of html directory
FAVICON=./html/favicon.ico                    # Site icon
PAGE_404=./html/404.html                      # Location of 404 Error (doc not found)

# The following values are located depending on system configurations and are
# NOT relative to the location of server.py.
REDIRECT_LOGON_SUCCESSFUL=/index.html         # Redirect after successful logon
REDIRECT_LOGON_FAILED=/logon.html             # Redirect after unsuccessful logon
REDIRECT_LOGOFF=/index.html                   # Redirect after logoff
CHALLENGE_PAGE=/challenge.html                # Page for authentication challenges
LOGON_LOGO=/logo.webp                         # Large image for logon pages

# Authentication Settings
AUTH_VALID=604800                             # A Session is valid for 7 days        *
AUTH_MESSAGE=""                               # Sign on Banner / Consent Banner
AUTH_TITLE='SanicApp V1'                      # Email Challenge - Title
AUTH_EMAILER='noreply@example.com'            # Email Challenge - Return Address
AUTH_DOMAIN='@example.com                     # Email Challenge - Email Domain
AUTH_EMAIL_SERVER=localhost                   # Email Challenge - Local SMTP Server
